In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

pd.set_option('display.max_columns', 500)
pd.set_option('display.max_rows', 500)

### CSV OKUMA

In [5]:
df = pd.read_csv("final_iklim_analizi.csv")
git = pd.read_csv("owid-energy-data.csv")
co = pd.read_csv("owid-co2-data.csv")

### DATALARIN ANALİZİ

In [8]:
co["person_gdp"] = co["gdp"] / co["population"]
#Kişi başı gelir

In [10]:
co.head()

,country,year,iso_code,population,gdp,cement_co2,cement_co2_per_capita,co2,co2_growth_abs,co2_growth_prct,co2_including_luc,co2_including_luc_growth_abs,co2_including_luc_growth_prct,co2_including_luc_per_capita,co2_including_luc_per_gdp,co2_including_luc_per_unit_energy,co2_per_capita,co2_per_gdp,co2_per_unit_energy,coal_co2,coal_co2_per_capita,consumption_co2,consumption_co2_per_capita,consumption_co2_per_gdp,cumulative_cement_co2,cumulative_co2,cumulative_co2_including_luc,cumulative_coal_co2,cumulative_flaring_co2,cumulative_gas_co2,cumulative_luc_co2,cumulative_oil_co2,cumulative_other_co2,energy_per_capita,energy_per_gdp,flaring_co2,flaring_co2_per_capita,gas_co2,gas_co2_per_capita,ghg_excluding_lucf_per_capita,ghg_per_capita,land_use_change_co2,land_use_change_co2_per_capita,methane,methane_per_capita,nitrous_oxide,nitrous_oxide_per_capita,oil_co2,oil_co2_per_capita,other_co2_per_capita,other_industry_co2,primary_energy_consumption,share_global_cement_co2,share_global_co2,share_global_co2_including_luc,share_global_coal_co2,share_global_cumulative_cement_co2,share_global_cumulative_co2,share_global_cumulative_co2_including_luc,share_global_cumulative_coal_co2,share_global_cumulative_flaring_co2,share_global_cumulative_gas_co2,share_global_cumulative_luc_co2,share_global_cumulative_oil_co2,share_global_cumulative_other_co2,share_global_flaring_co2,share_global_gas_co2,share_global_luc_co2,share_global_oil_co2,share_global_other_co2,share_of_temperature_change_from_ghg,temperature_change_from_ch4,temperature_change_from_co2,temperature_change_from_ghg,temperature_change_from_n2o,total_ghg,total_ghg_excluding_lucf,trade_co2,trade_co2_share,person_gdp
0,Afghanistan,1750,AFG,2802560.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,1751,AFG,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,1752,AFG,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,1753,AFG,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,1754,AFG,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
columns_to_keep = [
    'country',
    'year',
    "iso_code",
    'co2_per_capita',
    'cumulative_co2',
    'energy_per_capita',
    'share_global_co2',
    "person_gdp",
    "population"
]
# co veri setinden tutulacak kolonların listesi

In [14]:
co = co[columns_to_keep]

In [16]:
df.drop(["social", "water", "food"], inplace=True,axis=1)
# Sonucu etkilemeyecek olduğunu düşündüğüm kolonlar

In [18]:
git = git[["iso_code","year","other_renewables_share_elec","country"]]
# Git data setinden alınacak kolonlar

In [20]:
git = git[(git["year"]>=1995) & (git["year"]<2024)]
# Yılları eşitlemek için yaptığım filtreleme

In [22]:
co = co[(co["year"]>=1995) & (co["year"]<2024)]
# Aynısını co veri seti için yaptım

In [24]:
co.head()

,country,year,iso_code,co2_per_capita,cumulative_co2,energy_per_capita,share_global_co2,person_gdp,population
245,Afghanistan,1995,AFG,0.083,66.358,452.460,0.006,721.179181,17065836.0
246,Afghanistan,1996,AFG,0.077,67.728,425.906,0.006,679.499268,17763265.0
247,Afghanistan,1997,AFG,0.071,69.032,390.019,0.005,642.244136,18452100.0
248,Afghanistan,1998,AFG,0.067,70.311,365.121,0.005,610.238711,19159996.0
249,Afghanistan,1999,AFG,0.055,71.402,350.347,0.004,579.114900,19887791.0

In [26]:
df["iso_code"] = df["country"]
# Primary key imiz iso_code oldugu için ad değişikliği yaptım

In [28]:
df.drop("country",inplace=True,axis=1)
# burda da country değişkenini dropladım

In [30]:
df.head()

,year,gain,readiness,vulnerability,economic,governance,capacity,health,infrastructure,exposure,ecosystems,habitat,sensitivity,co2_per_capita,cumulative_co2,iso_code
0,1995,34.783530,0.308182,0.612511,0.496497,0.128090,0.893281,0.748302,NaN,0.480512,0.515884,0.602933,0.419587,NaN,NaN,AFG
1,1996,34.775074,0.308181,0.612679,0.496497,0.128090,0.893892,0.748302,NaN,0.480512,0.516995,0.604235,0.419307,NaN,NaN,AFG
2,1997,34.988812,0.312614,0.612837,0.496497,0.141392,0.894459,0.748302,NaN,0.480512,0.518030,0.605583,0.419055,NaN,NaN,AFG
3,1998,35.293407,0.317047,0.611179,0.496497,0.154694,0.890161,0.748302,NaN,0.480512,0.518156,0.606909,0.418794,NaN,NaN,AFG
4,1999,35.177507,0.313378,0.609828,0.496497,0.143689,0.885896,0.748302,NaN,0.480512,0.518156,0.608137,0.419433,NaN,NaN,AFG

In [32]:
merged_df = df.merge(co, on=['iso_code', 'year'], how='left')
merged_df = merged_df.merge(git, on=['iso_code', 'year'], how='left')

# burda da 3 veri setini df'e göre birleştirdim iso_code ve year baz alarak

In [34]:
merged_df.shape

(5568, 25)

In [36]:
merged_df.head()

,year,gain,readiness,vulnerability,economic,governance,capacity,health,infrastructure,exposure,ecosystems,habitat,sensitivity,co2_per_capita_x,cumulative_co2_x,iso_code,country_x,co2_per_capita_y,cumulative_co2_y,energy_per_capita,share_global_co2,person_gdp,population,other_renewables_share_elec,country_y
0,1995,34.783530,0.308182,0.612511,0.496497,0.128090,0.893281,0.748302,NaN,0.480512,0.515884,0.602933,0.419587,NaN,NaN,AFG,Afghanistan,0.083,66.358,452.460,0.006,721.179181,17065836.0,NaN,Afghanistan
1,1996,34.775074,0.308181,0.612679,0.496497,0.128090,0.893892,0.748302,NaN,0.480512,0.516995,0.604235,0.419307,NaN,NaN,AFG,Afghanistan,0.077,67.728,425.906,0.006,679.499268,17763265.0,NaN,Afghanistan
2,1997,34.988812,0.312614,0.612837,0.496497,0.141392,0.894459,0.748302,NaN,0.480512,0.518030,0.605583,0.419055,NaN,NaN,AFG,Afghanistan,0.071,69.032,390.019,0.005,642.244136,18452100.0,NaN,Afghanistan
3,1998,35.293407,0.317047,0.611179,0.496497,0.154694,0.890161,0.748302,NaN,0.480512,0.518156,0.606909,0.418794,NaN,NaN,AFG,Afghanistan,0.067,70.311,365.121,0.005,610.238711,19159996.0,NaN,Afghanistan
4,1999,35.177507,0.313378,0.609828,0.496497,0.143689,0.885896,0.748302,NaN,0.480512,0.518156,0.608137,0.419433,NaN,NaN,AFG,Afghanistan,0.055,71.402,350.347,0.004,579.114900,19887791.0,NaN,Afghanistan

In [38]:
merged_df.columns

Index(['year', 'gain', 'readiness', 'vulnerability', 'economic', 'governance',
       'capacity', 'health', 'infrastructure', 'exposure', 'ecosystems',
       'habitat', 'sensitivity', 'co2_per_capita_x', 'cumulative_co2_x',
       'iso_code', 'country_x', 'co2_per_capita_y', 'cumulative_co2_y',
       'energy_per_capita', 'share_global_co2', 'person_gdp', 'population',
       'other_renewables_share_elec', 'country_y'],
      dtype='object')

In [40]:
merged_df.drop("country_y",inplace=True,axis=1)
# Bu kolonu dropladım çünkü bu kolonla aynı başka bir kolon vardı

In [42]:
merged_df.isnull().sum()

year                              0
gain                            145
readiness                         0
vulnerability                   145
economic                        203
governance                      116
capacity                        435
health                           58
infrastructure                  667
exposure                          0
ecosystems                      348
habitat                           0
sensitivity                     290
co2_per_capita_x               5568
cumulative_co2_x               5568
iso_code                          0
country_x                         0
co2_per_capita_y                 58
cumulative_co2_y                 58
energy_per_capita               422
share_global_co2                 58
person_gdp                     1060
population                        0
other_renewables_share_elec     800
dtype: int64

In [44]:
merged_df.drop(["co2_per_capita_x","cumulative_co2_x"],inplace=True,axis=1)
# Bu kolonların bütün değerleri null geldiği için dropladım

In [46]:
merged_df.shape

(5568, 22)

In [ ]:
# Datasetin son hali
merged_df.to_csv('final.csv', index=False)